<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="br.edu.gamaesouza.intranet" />
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
				<prop key="hibernate.connection.username">root</prop>
				<prop key="hibernate.connection.password">dds3@1</prop>
				<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/intranet</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>

			</props>


		</property>
	</bean>
	
	<!-- DAOs -->
	<bean class="br.edu.gamaesouza.intranet.dao.ArquivoDAO" id="arquivoDAO"></bean>
	<bean class="br.edu.gamaesouza.intranet.dao.CursoDAO" id="cursoDAO"></bean>
	<bean class="br.edu.gamaesouza.intranet.dao.DisciplinaDAO" id="disciplinaDAO"></bean>
	<bean class="br.edu.gamaesouza.intranet.dao.EventoDAO" id="eventoDAO"></bean>
	<bean class="br.edu.gamaesouza.intranet.dao.NoticiaDAO" id="noticiaDAO"></bean>
	<bean class="br.edu.gamaesouza.intranet.dao.PessoaDAO" id="pessoaDAO"></bean>
	
	<!-- POJOS -->
	<bean class="br.edu.gamaesouza.intranet.bean.Aluno" id="aluno"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.Arquivo" id="arquivo"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.Curso" id="curso"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.Disciplina" id="disciplina"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.DisciplinaLetiva" id="disciplinaLetiva"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.Evento" id="evento"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.Noticia" id="noticia"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.Pessoa" id="pessoa"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.Professor" id="professor"></bean>
	<bean class="br.edu.gamaesouza.intranet.bean.Rule" id="rule"></bean>
	
	<!-- MAIL -->
	
	<bean class="br.edu.gamaesouza.intranet.mail.EnviarEmail" id="enviarEmail"></bean>
	
	<!-- PARAMS -->
	<bean class="br.edu.gamaesouza.intranet.params.impl.DisciplinaLetivaNovoParams" id="disciplinaLetivaNovoParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.DisciplinaSearchParams" id="disciplinaSearchParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.DisciplinaLetivaSearchParams" id="disciplinaLetivaSearchParams"></bean>	

	<bean class="br.edu.gamaesouza.intranet.params.impl.EventoNovoParams" id="eventoNovoParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.EventoAlteraParams" id="eventoAlteraParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.EventoDeletaParams" id="eventoDeletaParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.AlunoNovoParams" id="alunoNovoParams"></bean>
	
	<bean class="br.edu.gamaesouza.intranet.params.impl.CursoSearchParams" id="cursoSearchParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.CursoNovoParams"   id="cursoNovoParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.CursoAlteraParams" id="cursoAlteraParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.CursoDeletaParams" id="cursoDeletaParams"></bean>
	<bean class="br.edu.gamaesouza.intranet.params.impl.OuvidoriaEmailParams" id="ouvidoriaEmailParams"></bean>
	
	<bean class="br.edu.gamaesouza.intranet.params.impl.ProfessorNovoParams" id="professorNovoParams"></bean>
	
	<!-- Value Objects -->
	
	<bean class="br.edu.gamaesouza.intranet.vo.OuvidoriaVO" id="ouvidoriaVO"></bean>
	
	
</beans>

