BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND: #fff; COLOR: #ffffff; FONT-SIZE: 100.1%; PADDING-TOP: 0px
}
BODY.contentpane {
	TEXT-ALIGN: left; LINE-HEIGHT: 1.4em; MARGIN: 10px; WIDTH: auto
}
TABLE.contenttoc {
	FLOAT: right
}
.tool-tip {
	BORDER-BOTTOM: #d4d5aa 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d4d5aa 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MAX-WIDTH: 200px; BACKGROUND: #ffc; FLOAT: left; BORDER-TOP: #d4d5aa 1px solid; BORDER-RIGHT: #d4d5aa 1px solid; PADDING-TOP: 5px
}
.tool-title {
	PADDING-BOTTOM: 5px; MARGIN: -15px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../../system/images/selector-arrow.png) no-repeat; FONT-SIZE: 100%; FONT-WEIGHT: bold; PADDING-TOP: 15px
}
.tool-text {
	MARGIN: 0px; FONT-SIZE: 100%
}
