.invalid {
	BORDER-BOTTOM-COLOR: #ff0000; BORDER-TOP-COLOR: #ff0000; BORDER-RIGHT-COLOR: #ff0000; BORDER-LEFT-COLOR: #ff0000
}
LABEL.invalid {
	COLOR: #ff0000
}
#editor-xtd-buttons {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.button2-left {
	FLOAT: left
}
.button2-right {
	FLOAT: left
}
.button2-left DIV {
	FLOAT: left
}
.button2-right DIV {
	FLOAT: left
}
.button2-left A {
	LINE-HEIGHT: 22px; DISPLAY: block; FLOAT: left; HEIGHT: 22px; COLOR: #003333; FONT-SIZE: 11px; CURSOR: pointer
}
.button2-right A {
	LINE-HEIGHT: 22px; DISPLAY: block; FLOAT: left; HEIGHT: 22px; COLOR: #003333; FONT-SIZE: 11px; CURSOR: pointer
}
.button2-left SPAN {
	LINE-HEIGHT: 22px; DISPLAY: block; FLOAT: left; HEIGHT: 22px; COLOR: #003333; FONT-SIZE: 11px; CURSOR: pointer
}
.button2-right SPAN {
	LINE-HEIGHT: 22px; DISPLAY: block; FLOAT: left; HEIGHT: 22px; COLOR: #003333; FONT-SIZE: 11px; CURSOR: pointer
}
.button2-left SPAN {
	COLOR: #006666; CURSOR: default
}
.button2-right SPAN {
	COLOR: #006666; CURSOR: default
}
.button2-left .page A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.button2-right .page A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.button2-left .page SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.button2-right .page SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.page SPAN {
	COLOR: #000; FONT-WEIGHT: bold
}
.button2-left A:hover {
	COLOR: #0b55c4; TEXT-DECORATION: none
}
.button2-right A:hover {
	COLOR: #0b55c4; TEXT-DECORATION: none
}
.button2-left A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 24px; PADDING-TOP: 0px
}
.button2-left SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 24px; PADDING-TOP: 0px
}
.button2-right A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.button2-right SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.button2-left {
	BACKGROUND: url(../images_general/j_button2_left.png) no-repeat; FLOAT: left; MARGIN-LEFT: 5px
}
.button2-right {
	BACKGROUND: url(../images_general/j_button2_right.png) no-repeat 100% 0px; FLOAT: left; MARGIN-LEFT: 5px
}
.button2-left .image {
	BACKGROUND: url(../images_general/j_button2_image.png) no-repeat 100% 0px
}
.button2-left .readmore {
	BACKGROUND: url(../images_general/j_button2_readmore.png) no-repeat 100% 0px
}
.button2-left .pagebreak {
	BACKGROUND: url(../images_general/j_button2_pagebreak.png) no-repeat 100% 0px
}
DIV.tooltip {
	BORDER-BOTTOM: #d4d5aa 1px solid; BORDER-LEFT: #d4d5aa 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MAX-WIDTH: 200px; BACKGROUND: #ffffff; FLOAT: left; BORDER-TOP: #d4d5aa 1px solid; BORDER-RIGHT: #d4d5aa 1px solid; PADDING-TOP: 5px
}
DIV.tooltip H4 {
	PADDING-BOTTOM: 5px; MARGIN: -15px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images_general/selector-arrow.png) no-repeat; FONT-SIZE: 95%; FONT-WEIGHT: bold; PADDING-TOP: 15px
}
DIV.tooltip P {
	MARGIN: 0px; FONT-SIZE: 90%
}
.left.img_caption {
	FLOAT: left; MARGIN-RIGHT: 1em
}
.right.img_caption {
	FLOAT: right; MARGIN-LEFT: 1em
}
.left.img_caption P {
	TEXT-ALIGN: center; CLEAR: left
}
.right.img_caption P {
	TEXT-ALIGN: center; CLEAR: right
}
A IMG.calendar {
	WIDTH: 16px; BACKGROUND: url(../images_general/calendar.png) no-repeat; HEIGHT: 16px; MARGIN-LEFT: 3px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
#system-message {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; PADDING-BOTTOM: 0px !important; MARGIN: 10px 0px 20px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid; PADDING-TOP: 0px !important
}
#system-message DT {
	FONT-WEIGHT: bold
}
#system-message DD {
	PADDING-BOTTOM: 0px; TEXT-INDENT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #ffffff; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#system-message DD UL {
	BORDER-BOTTOM: #006600 3px solid; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; COLOR: #006600; BORDER-TOP: #006600 3px solid; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#system-message DT.message {
	DISPLAY: none
}
#system-message DD.message {
	
}
#system-message DD.message UL {
	BACKGROUND: #006600
}
#system-message DT.error {
	DISPLAY: none
}
#system-message DD.error {
	
}
#system-message DD.error UL {
	BORDER-BOTTOM: #006600 3px solid; MARGIN: 0px; BACKGROUND: #006600; COLOR: #006600; BORDER-TOP: #006600 3px solid
}
#system-message DT.notice {
	DISPLAY: none
}
#system-message DD.notice {
	
}
#system-message DD.notice UL {
	BORDER-BOTTOM: #006600 3px solid; BACKGROUND: #006600; COLOR: #006600; BORDER-TOP: #006600 3px solid
}
